# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
/src/Debug
/src/.vs
/src/.vscode/c_cpp_properties.json
/src/*.pdb
/src/*.log
/src/main.ilk
*.log
/src/Release/log.tlog
/src/x64/Release/log.tlog
/src/x64/
/src/*.vcxproj
/src/log.vcxproj.filters
*vcxproj*
/*.ilk
/*.sln
